.sideNav{
  background-color: #6667ab;
  padding: 10px 0;
  margin: 30px 0;
}
.sideNav a{
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;

}
.sideNav a svg {
  margin-right: 5px ;
}
.nav-link{
  padding: 0 10px;

}

.nav-link:not(.nav-link:last-child){
  border-right: 1px solid  white;
}